body {
		font-family: "Lato", Helvetica, sans-serif;
		color: #666;
		font-family: "Lato", sans-serif;
		font-size: 16px;
		line-height: 1.6;
		margin: 0;
		min-width: 940px;
		padding: 0;
 	}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sanchez", Georgia, serif;
}

.header {
	background-color: #222; 
	background-image: url(../images/header.jpg);















