
html,
							[comment 1]
h1 {
	text-align: center;
	font-family: "Open sans extra bold";
	font-size: 60px;
	color: #222;
}
							[comment 2]
p { 
	text-align: center;
	font-family: "georgia bold";
	font-size: 20px;
	color: #999;

}
							[comment 3]
img { 
	width: 400px;
	height: 200px;
	border:2px #ccc;

	box-shadow: 10px 10px 5px #ccc; 
}

							[comment 4]

p {
	text-align: center;
	font-family: "open sans";
	font-size: 14px;
	color: #666;

}
							[comment 5]
	border: #ccc;
							[comment 6]
h2 
	{
		text-align: left;
		font-family: "open sans extra bold";
		text-transform: uppercase; 
		font-size: 14px;
		color: #999
	}
							[comment 7]
ol {
		text-indent: 45px;
		font-family: "georgia";
		font-size: 20px;
		color: #222;
}
							[comment 8]
ol {
		text-indent: 50px;
		font-family: "georgia";
		font-size: 16px;
		color: #666;
}
							[comment 9]
ol { type
		font-family: "georgia";
		font-size: 20px;
		color: #999;
}
							[comment 10]
h3  {
		font-family: "open sans extra bold";
		font-size: 36px;
		color: #222;
}
							[comment 11]

p {
		Georgia, 16px, #666
		font-family: "georgia";
		font-size: 16x;
		color: #666;
}
							[comment 12]
blockquote {
				Background #f6f6f6, Left border 10px #e3e3e3, Georgia Italic, 20px, #222
				background: #f6f6f6
				border-left: 10px;
				border-style: #e3e3e3;
				font-family: "georgia italic";
				font-size: 20px;
				color: #222;


}
}

<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
